<%- include("partials/header.ejs") %>
  <div class="album py-5 bg-body-tertiary">
      <div class="container">
         <div class="flex-container">
           <div class="card col">
             <div class="shadow-sm">
                <img src="/images/jollof-rice.jpg" alt="a plate of jollof-rice" width="100%" height="100%">
                <div class="card-body">
                <h2>How to make Nigeria jollof-rice</h2>
                <p class="card-text">
                    Ut rutrum eros eu massa rutrum euismod. In a arcu nec ex ultrices luctus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; 
                    Donec eros mi, semper at turpis vel, faucibus semper purus.
                </p>
                <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="custom-size-button">Edit</button>
                  <button type="button" class="custom-size-button">Delete</button>
                </div>
                <small class="text-body-secondary"><%= new Date().getMinutes() %> mins</small>
              </div>
            </div>
          </div>
        </div>
        <div class="card col">
          <div class="shadow-sm">
            <img src="/images/PlantainOmelet_HERO_091522_39823.webp" alt="a plate of plaintain firttata" width="100%" height="100%">
            <div class="card-body">
              <h2>How to make plaintain frittata</h2>
              <p class="card-text">
                Morbi vehicula neque quis nisi scelerisque congue. Mauris id viverra libero. Quisque accumsan interdum nibh, gravida sodales enim dapibus ut. 
                Quisque laoreet enim eu urna facilisis, ut lacinia odio maximus.
              </p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                    <button type="button" class="custom-size-button">Edit</button>
                    <button type="button" class="custom-size-button">Delete</button>
                </div>
                <small class="text-body-secondary"><%= new Date().getMinutes() %> mins</small>
              </div>
            </div>
          </div>
        </div>
        <div class="card col">
          <div class="shadow-sm">
            <img src="/images/egusi-soup-ig-1.jpg" alt="a plate of okra" width="100%" height="100%">
            <div class="card-body">
              <h2>How to make egusi soup</h2>
              <p class="card-text">
                Nulla pharetra a purus ut eleifend. Maecenas sagittis erat mauris, nec iaculis urna gravida in. Praesent id cursus lacus. Ut eget malesuada sem. 
                Etiam semper ligula libero, sit amet maximus tellus
              </p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                    <button type="button" class="custom-size-button">Edit</button>
                    <button type="button" class="custom-size-button">Delete</button>
                </div>
                <small class="text-body-secondary"><%= new Date().getMinutes() %> mins</small>
              </div>
            </div>
          </div>
        </div>

        <div class="card col">
          <div class="shadow-sm">
            <img src="/images/chicken-noodle.jpeg" alt="a plate of chicken-noodle" width="100%" height="100%">
            <div class="card-body">
              <h2>How to make chicken soup</h2>
              <p class="card-text">
                Integer ullamcorper mattis aliquam. Cras leo magna, ornare in justo ut, sollicitudin finibus tellus. Pellentesque neque lorem, 
                maximus at tristique eu, fringilla vel sem. Nam vehicula placerat lectus sit amet blandit.
              </p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                    <button type="button" class="custom-size-button">Edit</button>
                    <button type="button" class="custom-size-button">Delete</button>
                </div>
                <small class="text-body-secondary"><%= new Date().getMinutes() %> mins</small>
              </div>
            </div>
          </div>
        </div>
        <div class="card col">
          <div class="shadow-sm">
            <img src="/images/fried-rice.jpeg" alt="a plate of fried rice" width="100%" height="100%">
            <div class="card-body">
              <h2>How to make fried rice</h2>
              <p class="card-text">
                Nam placerat in quam sed congue. Aenean interdum libero id felis rhoncus, euismod efficitur quam ultricies. Suspendisse accumsan luctus dui. 
                Fusce euismod ac sapien nec vulputate.
              </p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                    <button type="button" class="custom-size-button">Edit</button>
                    <button type="button" class="custom-size-button">Delete</button>
                </div>
                <small class="text-body-secondary"><%= new Date().getMinutes() %> mins</small>
              </div>
            </div>
          </div>
        </div>
        <div class="card col">
          <div class="shadow-sm">
            <img src="/images/pancakes.jpeg" alt="a plate of pancakes" width="100%" height="100%">
            <div class="card-body">
              <h2>How to make pancakes</h2>
              <p class="card-text">
                Pellentesque eu pellentesque risus. Sed vitae vulputate nibh. Mauris non nibh interdum, facilisis neque a, 
                placerat ex. Donec feugiat tempus leo feugiat semper. 
              </p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                    <button type="button" class="custom-size-button">Edit</button>
                    <button type="button" class="custom-size-button">Delete</button>
                </div>
                <small class="text-body-secondary"><%= new Date().getMinutes() %> mins</small>
              </div>
            </div>
          </div>
        </div>

        <div class="card col">
          <div class="shadow-sm">
            <img src="/images/peppered-snail.jpeg" alt="a plate of peppered snail" width="100%" height="100%">
            <div class="card-body">
              <h2>How to make peppered snail</h2>
              <p class="card-text">
                Sed mollis felis metus, tristique porttitor felis lacinia id. Curabitur feugiat fermentum porttitor. Interdum et malesuada fames ac ante ipsum primis in faucibus. 
                In ac quam tellus. Cras semper lectus eros, vitae consequat est pulvinar sed.
              </p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                    <button type="button" class="custom-size-button">Edit</button>
                    <button type="button" class="custom-size-button">Delete</button>
                </div>
                <small class="text-body-secondary"><%= new Date().getMinutes() %> mins</small>
              </div>
            </div>
          </div>
        </div>
        <div class="card col">
          <div class="shadow-sm">
            <img src="/images/edikai.jpeg" alt="a plate of edikaikong" width="100%" height="100%">
            <div class="card-body">
              <h2>How to make edikaikong</h2>
              <p class="card-text">
                Cras ultrices lorem nec metus viverra fermentum. Sed congue massa vel enim tincidunt, ac mollis tortor condimentum. Mauris cursus quam ac nisl pretium, quis semper 
                nulla pharetra. Nullam eu mauris quis neque pellentesque gravida.
              </p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                    <button type="button" class="custom-size-button">Edit</button>
                    <button type="button" class="custom-size-button">Delete</button>
                </div>
                <small class="text-body-secondary"><%= new Date().getMinutes() %> mins</small>
              </div>
            </div>
          </div>
        </div>
        <div class="card col">
          <div class="shadow-sm">
            <img src="/images/pizza.webp" alt="pizza" width="100%" height="100%">
              <h2>How to make pizza</h2>
              <p class="card-text">
                Pellentesque quis metus vel libero commodo imperdiet. Praesent aliquam eget nibh eu pharetra. Nulla placerat porttitor libero eu eleifend. 
                Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
              </p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                    <button type="button" class="custom-size-button">Edit</button>
                    <button type="button" class="custom-size-button">Delete</button>
                </div>
                <small class="text-body-secondary"><%= new Date().getMinutes() %> mins</small>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

    
<%- include("partials/footer.ejs") %>